<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>product Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    
    <div>
    
        <a href="/auth/google">login with google</a>
        <hr/>
        <a href="/auth/facebbok">login with facebook</a>
        
        
    </div>
</body>
</html>