<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   
</head>
<body>
    
    <!--Display info come from google after authentication-->
    <img  src="<%= user.photos[0].value %>"/>
    <h1>Username : <%= user.displayName %></h1>
    <h1>Usermail : <%= user.emails[0].value %></h1>


    <a href="/logout">logout</ac>
</body>
</html>